/*reset */
body, html { font-family: Roboto,sans-serif; font-size: 8pt; height: 100%; margin: 0; padding: 0; background-color: #ccc; overflow: hidden; cursor: default;  }
/*body, html { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
    transition: all .25s ease-in-out;
*/
button, div, h1, h2, h3, h4, h5, h6, i, label, li, p, span, ul, select, textarea, dt, dd { margin: 0; padding: 0; font-weight: 400; font-size: 1em; list-style: none;  font-family: Roboto, 'Segoe UI',sans-serif; overflow: hidden; box-sizing: border-box; }
a, a:hover, a:visited { color: #222; text-decoration: none }
.clr { clear: both }
input, select, textarea {background-color: #eee;border: 1px solid #444;color: #222;padding: .25em;font-family: inherit;display: block;width:  100%;}
button:focus, input:focus { outline: 0 }
*:hover, *:before, *:after { transition: all .25s; }
button { display: block; background-color: #333; border: 1px solid #666; cursor: pointer; color: #eee; padding: .5em; }
button i { color: #222; cursor: pointer; }
button:hover i { color: #222; font-size: 1.1em; }
/*scrollbar*/
div::-webkit-scrollbar { width: 5px; }
div::-webkit-scrollbar:hover { cursor: pointer }
div::-webkit-scrollbar-track { background: #333; }
div::-webkit-scrollbar-thumb { background: #666; }

header { display: flex;  }

    h1 { display: inline-block }
#comm{ display: inline-block; margin-left: auto; }

/*device status*/
.device.ok { background-color: #333; color: #fff; }

/*device type*/
.device.awaiting { background-color: #607D8B !important;}
.light { cursor: pointer;}
    .device.lightOn { background-color: #090; color: #fff; }
    .device.lightOff { background-color: #333; color: #fff; }


/*node status*/
#comm { padding-right: .25em;}
#comm, div.node > h2 { border-right: .5em solid #000; }
#comm.online, div.node.ok>h2 { border-color: #0A0; }
    header.offline, div.node.error > h2 { border-color: #A00; }

    .mainwrapper { overflow-y: auto; height: 100%; width: 100%; }
header { padding: .5em; background-color: #222; color: #999; }
div.device {width: 10em;height: 10em;padding:  0.5em;background-color: #222;color: #666;display:  inline-block;}

    div.device.on { background-color: #060; color: #eee; }
    div.device.off { background-color: #333; color: #aaa; }

div.node {clear: both;}

div.node.collapsed>div {height: 0;}

div.node>h2 {background-color: #4f0b54;color: #fff;padding:  1em;font-size:  1.2em;}
    div.node > div {margin: .25em 0;}

